<div class="container">
    <h3 style="text-align: center">List of Contacts</h3>
    <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>SNO</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contactList; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.contactNo}}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.address }}</td>
                <td>
                  <button type="button" class="btn btn-warning" (click)="onEdit(i)">Edit</button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <h4  style="text-align: center" *ngIf="contactList.length==0">
                No contacts available, click  on "Add contact" to add
                a new contact
          </h4>


    <div class="text-right">
      <button type="submit" class="btn btn-success" (click)="addContact()">Add Contact</button>

  </div>

